table {
    width: 100%;
    margin: 20px 0;
 }

 form .form-container{
    display: inline-flex;
 }

 label{
     margin-top: 20px;
 }

 input{
    border: 1px solid;
    padding: 7px 5px 5px 7px;
    border-radius: 5px;
    margin: 13px;
 }
